<div CLASS=roundedCorner  id="menu_area">
Extras
<ul>
  <li><a href="javscript:getpage('obsinfo.html', 'content_area')">Observation Information</a></li>
  <li><a href="javscript:getpage('datafeeds.html', 'content_area')">Data Feeds</a></li>
</ul>
</div>
